## Demographic Data Analyzer

In [28]:
import pandas as pd

In [29]:
# Read data from file
df = pd.read_csv('data/adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [88]:
 # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [31]:
# What is the average age of men?
average_age_men = df.loc[df['sex']=='Male', 'age'].mean()
average_age_men

39.43354749885268

In [32]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = df.loc[df['education'] == 'Bachelors'].shape[0]
percentage_bachelors = percentage_bachelors/df.shape[0]*100
percentage_bachelors

16.44605509658794

In [37]:
#with and without `Bachelors`, `Masters`, or `Doctorate`
he = df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]
lo = df.loc[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))]
higher_education = he.shape[0]
lower_education = df.shape[0] - higher_education

In [41]:
# percentage with salary >50K
higher_education_rich = he.loc[he['salary'] == '>50K'].shape[0] / df.shape[0] * 100
lower_education_rich = lo.loc[lo['salary'] == '>50K'].shape[0] / df.shape[0] * 100
print(higher_education_rich, lower_education_rich)

10.706059396210192 13.374896348392248

In [89]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [90]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df.loc[(df['hours-per-week'] == df['hours-per-week'].min())].shape[0]
rich_percentage = df.loc[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')].shape[0] / df.shape[0] * 100
print(num_min_workers, rich_percentage)

20 0.006142317496391388

In [83]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = df.loc[df['salary'] == '>50K', 'native-country'].value_counts().index[0]
highest_earning_country_percentage = df.loc[df['salary'] == '>50K', 'native-country'].value_counts()[0] / df.shape[0] * 100

C:\Users\damie\AppData\Local\Temp\ipykernel_22236\3443851038.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  highest_earning_country_percentage = df.loc[df['salary'] == '>50K', 'native-country'].value_counts()[0] / df.shape[0] * 100

In [87]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df.loc[(df['salary'] == '>50K') & (df['native-country'] == 'India'), 'occupation'].value_counts().index[0]